## Install MAFFT package
conda install mafft
conda update mafft
## Group sequences for alignment
cat *.fasta > metaseq.fasta
## Get rid of | between accession and collection date
sed -i 's/ |//g' metaseq.fasta
## align sequences
mafft --auto metaseq.fasta > metaseq.ali
## Bootstrap tree build
conda install -c bioconda raxml
raxmlHPC-PTHREADS -T 8 -N 20 -s metaseq.ali -m GTRGAMMA -p 12345 -n spikeseq.tre
