# Auto detect text files and perform LF normalization
* text=auto
conda install alignment
y
conda update alignment
## Install MAFFT package
conda install mafft
conda update mafft
## Group sequences for alignment
cat *.fast > meta.fasta
## align sequences
mafft --auto all.fasta > meta.ali